body {
    font-family: Arial, sans-serif;
    background-color: #e4ac58ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 40px auto;
    background: #aeeb85;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ff0303;
    margin-bottom: 40px;
}

.qa {
    border-bottom: 3px solid #c0b40c;
    padding: 20px 0;
}

.qa h2 {
    color: #201901;
    margin-bottom: 10px;
}

.qa p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: rgb(2, 24, 4);
}

audio {
    width: 100%;
    margin-top: 10px;
    outline: none;
}

.signature {
    margin-top: 30px;
    font-weight: bold;
}

.thanks {
    margin-top: 20px;
    font-size: 15px;
    color: #555;
}

a {
    color: #f57029;
    text-decoration: none;
}
